@font-face {
  font-family: SourceSansPro;
  font-style: normal;
  font-weight: 300;
  src: url('/public/fonts/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: SourceSansPro;
  font-style: normal;
  font-weight: 400;
  src: url('/public/fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: SourceSansPro;
  font-style: normal;
  font-weight: 700;
  src: url('/public/fonts/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: PFDinTextPro;
  font-style: normal;
  font-weight: 300;
  src: url('/public/fonts/pfdintextpro-light.ttf') format('truetype');
}
