@import 'variables';


@mixin mobile {
  @media (min-width: $screen-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $screen-tablet) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: $screen-laptop) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $screen-desktop) {
    @content;
  }
}
