// Colors
$color-white: #fff;
$color-red: #f00;
$color-black: #000;
$color-lightning-yellow: #f89a35;
$color-saffron: #f8bf35;
$color-link-water: #cbd2df;
$color-tiber: #0f1a2f;
$color-maya-blue: #49abfe;
$color-cello: #3e495e;
$color-wild-blue-yonder: #8495b7;
$color-echo-blue: #a7b3cb;
$color-sky-blue: #80ceee;
$color-light-sky-blue: #85d7f8;

// Fonts
$font-size-xs: 11px;
$font-size-s: 13px;
$font-size-m: 16px;
$font-size-heading: 28px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;


// Screen sizes
$screen-mobile: 425px;
$screen-tablet: 768px;
$screen-laptop: 1024px;
$screen-desktop: 1920px;


// Other
$shadow: rgba(50, 66, 91, .3);
