@import 'mixins';
@import 'fonts';
@import 'variables';


* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  align-items: center;
  background-image: url('/public/images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: SourceSansPro, sans-serif;
  font-size: $font-size-m;
  margin: 0;
}

main {
  align-items: center;
  display: flex;
  flex: 1 0 auto;
  margin: 20px;
}

footer {
  @include tablet {
    margin: 20px 0;
  }

  @include laptop {
    margin: 20px 0 50px;
  }

  display: flex;
  flex-shrink: 0;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.content-wrapper {
  @include tablet {
    min-height: 420px;
    width: 740px;
  }

  @include laptop {
    width: 920px;
  }
}

.content {
  color: $color-white;
  position: relative;

  &.show-overlay {
    &::before {
      @include tablet {
        display: block;
      }

      background-color: $color-tiber;
      content: '';
      height: 100%;
      opacity: 90%;
      position: absolute;
      width: 100%;
      z-index: -1;
    }
  }
}

.container {
  display: none;

  &.active {
    @include tablet {
      flex-direction: row;
    }

    display: flex;
    flex-direction: column;
  }

  &.user-info {
    flex-direction: column;
  }

  .column-wrapper {
    align-items: center;
    display: flex;
    flex: 1;
    margin: 0;
  }

  .column {
    @include tablet {
      padding: 0 50px;
    }

    @include laptop {
      padding: 0 80px;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .column-highlighted {
    @include tablet {
      align-items: center;
      min-height: 460px;
      min-width: 400px;
      padding: 20px 50px;
    }

    @include laptop {
      min-width: 460px;
      padding: 40px 90px;
    }

    background: $color-white;
    box-shadow: 0 0 70px $shadow;
    color: $color-cello;
    padding: 20px;
    position: relative;

    &::before,
    &::after {
      content: '';
      height: 0;
      position: absolute;
      width: 0;
    }
  }

  .login-left {
    @include tablet {
      display: block;
    }

    display: none;
  }

  .login-right {
    @include tablet {
      margin-bottom: -20px;
      margin-right: 20px;
      margin-top: -20px;
    }

    &.column-highlighted {
      &::before {
        @include tablet {
          border-bottom: 20px solid $color-light-sky-blue;
          border-left: 10px solid transparent;
          left: -10px;
          top: 0;
        }
      }

      &::after {
        @include tablet {
          border-left: 10px solid transparent;
          border-top: 20px solid $color-sky-blue;
          bottom: 0;
          left: -10px;
        }
      }
    }
  }

  .signup-left {
    @include tablet {
      margin-bottom: -20px;
      margin-left: 20px;
      margin-top: -20px;
    }

    &.column-highlighted {
      &::before {
        @include tablet {
          border-bottom: 20px solid $color-light-sky-blue;
          border-right: 10px solid transparent;
          right: -10px;
          top: 0;
        }
      }

      &::after {
        @include tablet {
          border-right: 10px solid transparent;
          border-top: 20px solid $color-sky-blue;
          bottom: 0;
          right: -10px;
        }
      }
    }
  }

  .signup-right {
    @include tablet {
      display: block;
    }

    display: none;
  }

  .column-content {
    height: auto;
    width: 100%;
  }

  .column-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .img-wrapper {
      @include tablet {
        display: block;
      }

      display: none;
    }
  }

  .column-heading {
    font-size: $font-size-heading;
    font-weight: $font-weight-light;

    &.active {
      @include tablet {
        text-decoration: none;
      }

      text-decoration: underline;
      text-decoration-color: $color-maya-blue;
    }
  }

  .column-text {
    font-size: $font-size-m;
    font-weight: $font-weight-normal;
    line-height: 30px;
    margin: 30px 0 25px;
  }
}

.underline {
  @include tablet {
    background-color: $color-maya-blue;
    display: block;
    height: 2px;
    margin: 10px 0;
    width: 40px;
  }

  display: none;
}

.button {
  border-radius: 25px;
  font-size: $font-size-s;
  height: 50px;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 140px;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  &.button-blue {
    background: none;
    border: 2px solid $color-maya-blue;
    color: $color-white;
    font-weight: $font-weight-bold;

    &:hover,
    &:focus {
      background-color: $color-maya-blue;
    }
  }

  &.button-orange {
    background-color: $color-lightning-yellow;
    border: 0;
    color: $color-white;
    font-weight: $font-weight-bold;

    &:hover,
    &:focus {
      background-color: $color-saffron;
    }
  }
}

form {
  @include tablet {
    width: 100%;
  }

  margin-top: 30px;
  width: 250px;

  label {
    color: $color-wild-blue-yonder;
    font-size: $font-size-m;
    font-weight: $font-weight-normal;
    letter-spacing: 1px;
  }

  input {
    border: 0;
    border-bottom: 1px solid $color-link-water;
    font-family: SourceSansPro, sans-serif;
    font-size: $font-size-m;
    line-height: 25px;
    outline: none;
    width: 100%;
  }

  .row {
    @include tablet {
      margin-top: 25px;
    }

    margin-top: 15px;
    position: relative;

    &:focus-within {
      label {
        font-size: $font-size-xs;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
      }

      .icon {
        &.email {
          content: url('/public/images/icon-mail-blue.png');
        }

        &.password {
          content: url('/public/images/icon-lock-blue.png');
        }

        &.user {
          content: url('/public/images/icon-user-blue.png');
        }
      }
    }
  }

  .row-buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  .required {
    &::after {
      color: $color-red;
      content: '*';
    }
  }

  .button-secondary {
    color: $color-wild-blue-yonder;
  }
}

.icon {
  position: absolute;
  right: 0;

  &.email {
    content: url('/public/images/icon-mail.png');
  }

  &.password {
    content: url('/public/images/icon-lock.png');
  }

  &.user {
    content: url('/public/images/icon-user.png');
  }
}

.copyright {
  color: $color-echo-blue;
  font-size: $font-size-s;
  font-weight: $font-weight-bold;
  letter-spacing: 2px;
}

.to-signup,
.to-login {
  @include tablet {
    display: none;
  }
}

.errors {
  color: $color-red;
  margin: 20px;
  text-shadow: 1px 1px 1px $color-black;
}

.error-page {
  .error {
    color: $color-red;
    font-size: $font-size-heading;
    text-shadow: 1px 1px 1px $color-black;
  }
}
