<?php if (!empty($errors)): ?>
    <div class="errors">
        <?php foreach ($errors as $error): ?>
            <div class="error"><?= $error ?></div>
        <?php endforeach; ?>
    </div>
<?php endif; ?>

<main>
    <div class="content-wrapper">
        <div class="content show-overlay">
            <div class="signup container" id="signup">
                <div class="column-wrapper">
                    <div class="signup-left column column-highlighted">
                        <div class="column-content">
                            <div class="column-header">
                                <div class="column-heading active">Sign Up</div>
                                <div class="column-heading to-login" id="to-login-mobile">Login</div>
                                <div class="img-wrapper">
                                    <img src="/images/logo.png" alt="Logo">
                                </div>
                            </div>
                            <div class="underline"></div>
                            <form action="/login/signup" method="post">
                                <div class="row">
                                    <label for="signup-name" class="name required">Name</label>
                                    <span class="icon user"></span>
                                    <input type="text" id="signup-name" name="name" required>
                                </div>
                                <div class="row">
                                    <label for="signup-email" class="email required">Email</label>
                                    <span class="icon email"></span>
                                    <input type="email" id="signup-email" name="email" required>
                                </div>
                                <div class="row">
                                    <label class="password required" for="signup-password">Password</label>
                                    <span class="icon password"></span>
                                    <input type="password" id="signup-password" name="password" required>
                                </div>
                                <div class="row-buttons">
                                    <input type="submit" class="button button-orange" value="Sign up"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="column-wrapper">
                    <div class="signup-right column">
                        <div class="column-header">
                            <p class="column-heading">Have an account?</p>
                        </div>
                        <div class="underline"></div>
                        <p class="column-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button class="button button-blue" id="to-login">Login</button>
                    </div>
                </div>
            </div>
            <div class="login container active" id="login" >
                <div class="column-wrapper">
                    <div class="login-left column">
                        <div class="column-header">
                            <p class="column-heading">Don’t have an account?</p>
                        </div>
                        <div class="underline"></div>
                        <p class="column-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <button class="button button-blue" id="to-signup">Sign up</button>
                    </div>
                </div>
                <div class="column-wrapper">
                    <div class="login-right column column-highlighted">
                        <div class="column-content">
                            <div class="column-header">
                                <div class="column-heading to-signup" id="to-signup-mobile">Sign Up</div>
                                <div class="column-heading active">Login</div>
                                <div class="img-wrapper">
                                    <img src="/images/logo.png" alt="Logo">
                                </div>
                            </div>
                            <div class="underline"></div>
                            <form action="/login/login" method="post">
                                <div class="row">
                                    <label class="email required" for="login-email">Email</label>
                                    <span class="icon email"></span>
                                    <input type="email" id="login-email" name="email" required>
                                </div>
                                <div class="row">
                                    <label class="password required" for="login-password">Password</label>
                                    <span class="icon password"></span>
                                    <input type="password" id="login-password" name="password" required>
                                </div>
                                <div class="row-buttons">
                                    <input type="submit" class="button button-orange" value="Login"/>
                                    <a href="" class="button-secondary">Forgot?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>