<?php if (!empty($errors)): ?>
    <div class="errors">
        <?php foreach ($errors as $error): ?>
            <div class="error"><?= $error ?></div>
        <?php endforeach; ?>
    </div>
<?php endif; ?>

<main>
    <div class="content">
        <div class="container user-info active">
            <div class="column-wrapper">
                <div class="column column-highlighted">
                    <div class="column-content">
                        <div class="column-header">
                            <p class="column-heading">User info</p>
                            <div class="img-wrapper">
                                <img src="/images/logo.png" alt="Logo">
                            </div>
                        </div>
                        <div class="underline"></div>
                        <form action="/user/save" method="post">
                            <div class="row">
                                <label class="name" for="info-name">Name</label>
                                <input type="text" id="info-name" name="name" value="<?= $name ?>">
                            </div>
                            <div class="row">
                                <label class="email" for="login-email">Email</label>
                                <input type="email" id="login-email" name="email" value="<?= $email ?>">
                            </div>

                            <?php if (isset($attributesList)): ?>
                                <?php foreach ($attributesList as $attr): ?>
                                    <?php
                                    if (isset($attributes[$attr['code']])) {
                                        $attrValue = $attributes[$attr['code']]['value'];
                                    } else {
                                        $attrValue = '';
                                    }
                                    ?>
                                    <div class="row">
                                        <label class="<?= $attr['code'] ?>" for="info-<?= $attr['code'] ?>">
                                            <?= $attr['label'] ?>
                                        </label>
                                        <input type="<?= $attr['type'] ?>" id="info-<?= $attr['code'] ?>"
                                               name="<?= $attr['code'] ?>" value="<?= $attrValue ?>">
                                    </div>
                                <?php endforeach; ?>
                            <?php endif; ?>

                            <div class="row-buttons">
                                <input type="submit" class="button button-orange" value="Save"/>
                                <a href="/user/logout" class="button-secondary">Log out</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
