<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><?= $title ?></title>

    <link rel="stylesheet" type="text/css" href="/public/css/style.css">

    <script src="/public/js/jquery-3.5.1.js"></script>
    <script src="/public/js/switch-form.js"></script>
</head>
<body>
    <?php include ROOTPATH . '/src/Views/' . $contentView; ?>
</body>
<footer>
    <div class="copyright">ALL RIGHTS RESERVED “MAGEBIT” 2016.</div>
</footer>
</html>
